* {
	padding: 0;
	margin: 0;
}

.container {
	padding: 300px 0 500px;
	max-width: 300px;
	margin: 0 auto;
}

.ball {
	border-radius: 100%;
	margin: 50px 0;
	opacity: 0.6;
}

.obj1 {
	width: 300px;
	height: 300px;
	background: red;
}

.obj2 {
	width: 180px;
	height: 180px;
	background: blue;
}

.obj3 {
	width: 630px;
	height: 630px;
	background: yellow;
}

.obj4 {
	width: 260px;
	height: 260px;
	background: green;
}

.obj5 {
	width: 470px;
	height: 470px;
	background: black;
}

.obj6 {
	width: 100px;
	height: 100px;
	background: aqua;
}